/* Add custom style overrides here. */
:root {
  --green-color: #77b7a2;
  --dark-green-color: #548172;
}

body {
  background-color: #fefefe;
  /* variation on Github's system font strategy https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

footer {
  background-color: black;
  color: white;
}

a {
  color: var(--green-color);
}

#navbar-title {
  font-weight: 700;
}

#navbar-tagline {
  font-style: italic;
  font-size: 0.8rem;
}

#map {
    height: 90vh;
    width: 100%;
}

.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.btn-primary {
  background-color: var(--green-color);
  border: var(--dark-green-color);
}

.btn-primary:hover {
  background-color: var(--dark-green-color);
  border: var(--dark-green-color);
}
