version: '2.4'

services:
  app:
    container_name: mellow-bike-map
    image: mellow-bike-map
    build: ./app
    stdin_open: true
    tty: true
    ports:
      - 8000:8000
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./app:/app
      - mellow-bike-map-node-modules:/app/node_modules
    environment:
      DJANGO_SECRET_KEY: reallysupersecret
      DJANGO_MANAGEPY_MIGRATE: "on"
    entrypoint: /app/docker-entrypoint.sh
    command: python manage.py runserver 0.0.0.0:8000

  postgres:
    container_name: mellow-bike-map-postgres
    image: mellow-bike-map-postgres
    build: ./db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_DB: mbm
      POSTGRES_PASSWORD: postgres
    volumes:
      - mellow-bike-map-db-data:/var/lib/postgresql/data
      - ./db/create-extensions.sql:/docker-entrypoint-initdb.d/create-extensions.sql
    ports:
      - 32001:5432

volumes:
  mellow-bike-map-db-data:
  mellow-bike-map-node-modules:
