version: '2.4'

services:
  make:
    container_name: mellow-bike-map-make
    image: mellow-bike-map-make
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      DJANGO_SECRET_KEY: reallysupersecret
    entrypoint: make
