{% extends "mbm/base.html" %}

{% block title %}{{ view.title }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <h2 class="pt-4 mb-4">{{ view.title }}</h2>
      <p>
        The premise of Mellow Bike Map is that <strong>biking on side streets is
        safer and more comfortable than biking on commercial arteries</strong>, whether
        or not they have bike lanes.
      </p>
      <p>
        Bike lanes on big streets are prioritized in a number of different ways.
        Google Maps weights them heavily in its bike directions, for example, and bikeability indexes
        like the <a href="https://www.walkscore.com/bike-score-methodology.shtml">Bike Score</a>
        often consider mileage of bike lanes to be a proxy for bike safety. However,
        in the absence of full protection via concrete barriers, bike lanes on
        commercial arteries encourage cyclists to share crowded roads with loud, dirty,
        high-speed traffic.
      </p>
      <p>
        Using the Chicago Reader's
        <a href="https://www.chicagoreader.com/chicago/citywide-mellow-chicago-bike-map/Content?oid=81151025">Mellow Chicago Bike Map</a>
        as a starting point, this site instead emphasizes a different kind of
        street as the ideal bike route: side streets that are low-speed, infrequently
        used, and that feature traffic calming infrastructure like speed bumps
        and roundabouts.
      </p>
      <p>
        Do you think our map is missing a good route? Or do you want to bring Mellow Bike Map
        in your city? <a href="https://twitter.com/jean_cochrane">Get in touch with us on Twitter</a>
        and we'd be glad to help.
      </p>
    </div>
  </div>
</div>
{% endblock %}
