{% extends "mbm/base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block title %}{{ view.title }}{% endblock %}

{% block settings_dropdown %}
  <div class="px-3 py-2">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="enable-v2" name="enable-v2" />
      <label class="form-check-label" for="enable-v2">Use v2 routing</label>
      <i
        data-toggle="tooltip"
        data-placement="left"
        title="V2 routing uses a new experimental algorithm that considers all residential streets to be mellow streets."
        style="cursor: pointer"
      >
        <i class="fa fa-fw fa-info-circle text-muted"></i>
      </i>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="enable-user-locations" name="enable-user-locations" />
      <label class="form-check-label" for="enable-user-locations">Enable saved locations</label>
      <i
        data-toggle="tooltip"
        data-placement="left"
        title="When this is checked, double-clicking or double-tapping on the map will no longer zoom in and will instead open a dialog to save a location at that point."
        style="cursor: pointer"
      >
        <i class="fa fa-fw fa-info-circle text-muted"></i>
      </i>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="hide-search-box" name="hide-search-box" />
      <label class="form-check-label" for="hide-search-box">Hide search box</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="hide-legend-box" name="hide-legend-box" />
      <label class="form-check-label" for="hide-legend-box">Hide legend</label>
    </div>
  </div>
{% endblock %}

{% block extra_css %}
  {% leaflet_css %}
  <link rel="stylesheet" href="{% static 'css/spin.css' %}" />
{% endblock %}

{% block body %}
  <div class="row">
    <div id="controls-container" class="col-12 col-md-3">
      <div class="container-fluid m-auto form-group">
        <form id="input-elements" class="hideable collapse multi-collapse">
          <div class="form-group">
            <label for="source" class="sr-only">Start address</label>
            <input id="source" class="form-control my-2" name="source" placeholder="Start address"></input>
          </div>
          <div class="form-group">
            <label for="target" class="sr-only">End address</label>
            <input id="target" class="form-control my-2" name="target" placeholder="End address"></input>
          </div>
          <div class="form-group">
            <button id="submit" type="submit" class="btn btn-primary btn-block mt-1">Search</button>
            <button id="reset-search" type="reset" class="btn btn-secondary btn-block mb-2">Reset search</button>
          </div>
          <span id="route-estimate" class="text-muted"></span>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div id="map"></div>
      <div id="directions-container" style="display: none;">
        <h5>Turn-by-Turn Directions</h5>
        <ol id="directions-list"></ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {% leaflet_js %}
  <script type="text/javascript" src="{% static 'js/leaflet-google.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/spin.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/leaflet.spin.min.js' %}"></script>
  <script
    type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvdUtVFRDt4QG1AcU7Vt3N1SULbxri44M&libraries=places"
  >
  </script>
  {% comment %}
  The frontend app's main class is defined in app/mbm/static/js/app.js. We instantiate
  it here with the values it needs passed from the backend and keep the rest of the logic
  in static JS files.
  {% endcomment %}
  <script type="module">
    // Start the JS app
    import App from '{% static 'js/app.js' %}'

    new App("{% url 'route-list' %}", "{% url 'route' %}", "{{ from_address|escapejs }}", "{{ to_address|escapejs }}")
  </script>
{% endblock %}
