<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mellow Bike Map</title>
    <meta content="Find safe, chill Chicago bike routes. Like Google Maps if it took you through cozy side streets." name="description" />
    <meta content="Jean Cochrane, Bea Malsky, and Kalil Smith-Nuevelle" name="author" />

    <!-- Facebook metadata -->
    <meta property="og:site_name" content="Mellow Bike Map">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Find safe, chill Chicago bike routes. Like Google Maps if it took you through cozy side streets.">
    <meta property="og:url" content="https://mellowbikemap.com">
    <meta property="og:title" content="Mellow Bike Map">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Mellow Bike Map">
    <meta name="twitter:creator" content="@jean_cochrane">
    <meta name="twitter:title" content="Mellow Bike Map">
    <meta name="twitter:url" content="https://mellowbikemap.com">
    <meta name="twitter:description" content="Find safe, chill Chicago bike routes. Like Google Maps if it took you through cozy side streets.">
    <meta name="twitter:image" content="https://mellowbikemap.com/static/images/social.png">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚲</text></svg>">

    <style>
      body {font-family: sans-serif}
    </style>
  </head>
  <body>
    <h1>Under maintenance</h1>

    <p>AWS decided to delete our EC2 instance without telling us, so we are working
    on getting the app back online! We expect things should return to normal on
    Friday 6/2/23 and very much apologize for the inconvenience :(</p>

    <p>Please <a href="https://twitter.com/jean_cochrane">reach out to Jean on
      Twitter</a> if you have any questions! Thank you for your patience <3</p>
  </body>
</html>
