{% extends "mbm/base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block title %}{{ view.title }}{% endblock %}

{% block extra_css %}
  {% leaflet_css %}
  <style>
    .leaflet-container {
      height: 400px;
    }
  </style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
      <h3 class="py-3">
        {{ view.title }}
        <a
          class="btn btn-primary float-right"
          href="{% url 'mellow-route-create' %}"
        >
          <i class="fa fa-fw fa-plus"></i>
          Create new neighborhood
        </a>
      </h3>
      {% leaflet_map "neighborhoods" %}
      <div class="table-responsive mt-3">
        <table class="table">
          <thead>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr>
                <td>{{ object.name }}</td>
                <td>
                  <a href="{% url 'mellow-route-neighborhood-edit' object.slug %}">
                    <i class="fa fa-fw fa-edit"></i>
                    Edit neighborhood
                  </a>
                </td>
                <td>
                  <a href="{% url 'mellow-route-edit' object.slug view.model.Type.ROUTE %}">
                    <i class="fa fa-fw fa-edit"></i>
                    Edit routes
                  </a>
                </td>
                <td>
                  <a href="{% url 'mellow-route-edit' object.slug view.model.Type.STREET %}">
                    <i class="fa fa-fw fa-edit"></i>
                    Edit streets
                  </a>
                </td>
                <td>
                  <a href="{% url 'mellow-route-edit' object.slug view.model.Type.PATH %}">
                    <i class="fa fa-fw fa-edit"></i>
                    Edit paths
                  </a>
                </td>
                <td>
                  <a href="{% url 'mellow-route-delete' object.slug %}">
                    <i class="fa fa-fw fa-trash-alt"></i>
                    Delete
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="6">
                  <i>No mellow routes found.</i>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  {% leaflet_js %}
  <script type="text/javascript">
    window.addEventListener('map:init', function(e) {
      let map = e.detail.map;
      map.setView([41.88, -87.7], 10)

      // Add neighborhoods
      const neighborhoods = JSON.parse('{{ neighborhoods|escapejs }}')
      L.geoJSON(neighborhoods, {
        style: {color: 'blue', weight: 2, fillColor: '#c7c4ff', fillOpacity: 0.1},
        onEachFeature: function(feature, layer) {
          if (feature.properties && feature.properties.name) {
            layer.bindPopup(feature.properties.name)
          }
        }
      }).addTo(map)

      // Add routes
      $.getJSON('{% url "route-list" %}').done(function(data) {
        allRoutesLayer = L.geoJSON(data, {
          style: function(feature) {
            switch (feature.properties.type) {
              case 'street': return {color: 'green'}
              case 'route': return {color: 'orange'}
              case 'path': return {color: 'pink'}
            }
          }
        }).addTo(map)
      }).fail(function(jqxhr, textStatus, error) {
        console.log(textStatus + ': ' + error)
      })
    })
  </script>
{% endblock %}
