{% extends "mellow_bike_map/base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block title %}{{ view.title }}{% endblock %}

{% block extra_css %}
  {% leaflet_css %}
  <style>
    .leaflet-container {
      height: 500px;
    }
  </style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3 class="pt-4">
        {{ view.title }}
        <a
          class="btn btn-primary float-right"
          href="{% url 'mellow-way-create' %}"
        >
          <i class="fa fa-fw fa-plus"></i>
          Create new mellow way
        </a>
      </h3>
      {% leaflet_map "regions" %}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Slug</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.slug }}</td>
                <td>
                  <a href="{% url 'mellow-way-edit' object.slug %}">
                    <i class="fa fa-fw fa-edit"></i>
                    Edit
                  </a>
                </td>
                <td>
                  <a href="{% url 'mellow-way-delete' object.slug %}">
                    <i class="fa fa-fw fa-trash-alt"></i>
                    Delete
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  {% leaflet_js %}
  <script type="text/javascript">
    window.addEventListener('map:init', function(e) {
      let detail = e.detail;
      const geojson = JSON.parse('{{ regions|escapejs }}')
      console.log(geojson)
      L.geoJSON(geojson, {
        onEachFeature: function(feature, layer) {
          if (feature.properties && feature.properties.name) {
            layer.bindPopup(feature.properties.name)
          }
        }
      }).addTo(detail.map)
      detail.map.setView([41.88, -87.7], 10)
    })
  </script>
{% endblock %}
